importlib-resources==6.4.5
datamol==0.12.5
distinctipy==1.3.4
kaleido==0.2.1
mols2grid==2.0.0
pandas==2.2.3
plotly==5.24.1
PubChemPy==1.0.4
pyopenms==3.2.0
rdkit==2024.3.5
biopython==1.84 
rxnmapper==0.4.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
tqdm==4.66.5
dash==2.18.1
jupyter-dash==0.4.2
dash-bio==1.0.2
microberx==0.3.2